@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
    --cor1: #0000;
    --cor2: #ffff;
}
header{
    display: flex;
    background-color:black;
    width: 100vw;
    height: 232px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
header > h1{
    color:white;
    font-family: var(--fonte2);
    font-weight: bold;
    font-variant: small-caps; /* letra maiuscula*/
    font-size: 8vw;
    
    
}
header > p{
    font-family: var(--fonte3);
    color: white;
    font-weight: 900;
    font-size:1.5vw ;
    
}
header  #subTit{
    text-decoration: none;
    font-size: 1.5vw;
    color: #ffff;
    font-weight: bold;
    margin-bottom: 50px;
    
}
 #subTit:hover{
    text-decoration: underline;
    font-weight: bold;
    
}
section{
    padding: 50px 0 50px 25px;
}
section > p{

    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3vw;
}
.img{
    background-image: url(../imagens/background001.jpg);
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;
}
.img > p {
    display: inline-block;
    border-radius: 15px;
    color: #fff;
    font-family: var(--fonte3);
    background-color: rgba(0, 0, 0, 0.507);
    padding: 6px;
    font-size: 3vw;
    
}
.paragrafo3{
    margin-top: 30px;
}
.img2 {
    background-image: url(../imagens/background002.jpg);
    background-position: center center ;
    background-size: cover;
    background-attachment: fixed;
}
.img2 > p{
    display: inline-block;
    color: #fff;
    font-family: var(--fonte3);
    background-color: rgba(0, 0, 0, 0.507);
    padding: 6px;
    border-radius: 15px;
    
}
footer{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: black;
    color: #fff;
    
    
}
footer  a{
    text-decoration: none;
    cursor: pointer;
    font-size: 1vw;
    color: #fff;
}
footer a:hover{
    text-decoration: underline;
}
 footer > .rodape{
    font-size: 1vw;
}
@media (max-width:320px){
    header{
        height:150px ;
    }
    header > h1{
     font-size: 30px;
    }
    header  #subTit{
        font-size: 15px;
    }
    .img{
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    
    footer #rodape{
        font-size:10px ;
    }
}